<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.quest.chat.MainServlet</servlet-class>
        <init-param>
            <param-name>database-name</param-name>
            <param-value>wifichat</param-value>
        </init-param>
        <init-param>
            <param-name>database-username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>database-password</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>database-host</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>upload-dir</param-name>
            <param-value>C:/data</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.quest.chat.DownloadServlet</servlet-class>
         <init-param>
            <param-name>upload-dir</param-name>
            <param-value>C:/data</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
